extends layout

block content
  h1 Nouveau établissement
  form(action='/establishments' method='post')
    each field in ['nom','adresse','photo_url','proprietaire_nom','proprietaire_prenom','type_lieu']
      .form-group
        label(for=field)= field
        input(type='text' name=field id=field required)
    button(type='submit') Enregistrer
